#ARCHS: android_armeabi android_armeabi-v7a android_x86 linux_arm-32 linux_armhf-32 linux_x86-32 linux_x86-64 mac_x86-32 mac_x86-64 win_x86-32 win_x86-64
export GNSDK_ARCH=""

export GNSDK_CLIENT_ID=""
export GNSDK_CLIENT_TAG=""
export GNSDK_CLIENT_LICENSE=""

export SPOTIFY_CLIENT_ID=""
export SPOTIFY_CLIENT_SECRET=""
export SPOTIFY_REDIRECT_URI="http://nonexistent/cb"
export SPOTIFY_REFRESH_TOKEN_FILE="data/spotify-refresh-token"
